{% extends "base.html" %}

{% block title %}  <h1 style="text-align:center" > Internet Consommation </h1> <br>  {% endblock title %}


{% block content %}
    <div class="container">
        <hr>
        <form class="form-inline" action="{% url 'search' %}" method="GET">
            {% comment %} {% csrf_token %} {% endcomment %}
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Username" aria-label="Search" id="tags" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Consommation</button> <br> 
        </form>
        <hr>
        {% for user, consommation in consommations_totals_sorted %}
            {% if user == username %}
                {{user}} :  {{consommation}}  Go <br>          
                <hr>
            {% endif %}
        {% endfor %} 
    </div>
    
    <script>
        $( function() {
            var availableTags = [
                {% for user in consommations_user %}
                    "{{user}}",
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
            source: availableTags
            });
        } );
    </script>
{% endblock content %}