{% extends "base.html" %}

{% block title %}  <h1 style="text-align:center" > Internet Consommation </h1> <br> {% endblock title %}
<hr>

{% block content %}
    {% comment %} <input type="text" id="tags">  {% endcomment %}
    <div class="container">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="tags" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> <br> 
        </form>
    </div>
    <hr>
    {% for user, consommation in consommations_total %}
        {{user}} : {{consommation}} Go<br>    
    {% endfor %}

    <script>
        $( function() {
            var availableTags = [
                {% for user,consommation in consommations_total %}
                    "{{user}}",
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
            source: availableTags
            });
        } );
    </script>
{% endblock content %}